.primary-button {
  height: 72px;
  padding: 0 32px;
  background: var(--pink);
  border: 3px solid var(--black);
  border-radius: 20px;

  font-size: var(--font-size-heading-m);
  line-height: var(--line-height-heading-m);
  font-weight: 700;
  text-transform: uppercase;
}
