.board__wrapper {
  width: 335px;
  height: 320px;
  position: relative;
}

.board__wrapper::before,
.board__wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
}

.board__wrapper::before {
  background-image: url("../../assets/images//board-layer-black-small.svg");
}
.board__wrapper::after {
  background-image: url("../../assets/images//board-layer-white-small.svg");
  bottom: 10px;
}

.board__grid {
  display: grid;
  grid-template-columns: repeat(7, 41px);
  column-gap: 5.7px;
  padding-top: 6px;
  padding-left: 7px;
}

.board__column {
  position: relative;
  display: grid;
  grid-template-rows: repeat(6, 46px);
  gap: 1px;
  cursor: pointer;
  outline: none;
}

.board__marker {
  position: absolute;
  top: -8px;
  left: 50%;
  translate: -50% -100%;
}

@media (min-width: 768px) {
  .board__wrapper {
    width: 632px;
    height: 584px;
  }

  .board__grid {
    grid-template-columns: repeat(7, 70px);
    column-gap: 18px;
    padding-top: 17px;
    padding-left: 17px;
  }

  .board__column {
    grid-template-rows: repeat(6, 75px);
    gap: 11px;
  }

  .board__marker {
    top: -20px;
  }

  .board__wrapper::before {
    background-image: url("../../assets/images//board-layer-black-large.svg");
  }
  .board__wrapper::after {
    background-image: url("../../assets/images//board-layer-white-large.svg");
    bottom: 10px;
  }
}
