.in-game {
  min-height: 100svh;
  display: grid;
  justify-items: center;
  background: var(--purple-400);
  padding: 20px;
  align-items: start;
}

.in-game__grid {
  display: grid;
  grid-template-areas:
    "header header"
    "score-red score-yellow"
    "board board";
  align-items: start;
  row-gap: 44px;
  column-gap: 20px;
  width: 100%;
  max-width: max-content;
}

.in-game__header {
  display: grid;
  grid-area: header;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.in-game__score-card-red {
  grid-area: score-red;
}

.in-game__score-card-yellow {
  grid-area: score-yellow;
}

.in-game__logo {
  width: 40px;
  aspect-ratio: 1 / 1;
  justify-self: center;
}

.in-game__main {
  display: grid;
  place-items: center;
  grid-area: board;
}

.in-game__timer,
.in-game__game-card {
  margin-top: -24px;
  z-index: 100px;
  position: relative;
}

@media (min-width: 768px) {
  .in-game__grid {
    row-gap: 24px;
    column-gap: 36px;
  }

  .in-game__timer,
  .in-game__game-card {
    margin-top: -46px;
  }

  .in-game__logo {
    width: 52px;
  }
  .in-game__menu-btn {
    justify-self: self-start;
  }
  .in-game__restart-btn {
    justify-self: self-end;
  }
}

@media (min-width: 1024px) {
  .in-game__grid {
    column-gap: 56px;
    grid-template-columns: 1fr 632px 1fr;
    grid-template-areas:
      "score-red header score-yellow"
      "score-red board score-yellow";
  }

  .in-game__score-card-red,
  .in-game__score-card-yellow {
    align-self: center;
  }
}
