.in-game {
  min-height: 100svh;
  display: grid;
  justify-items: center;
  background: var(--purple-400);
  padding: 20px;
  align-items: start;
}

.in-game__wrapper {
  display: grid;
  align-items: start;
  row-gap: 48px;
}

.in-game__logo {
  width: 40px;
  aspect-ratio: 1 / 1;
  justify-self: center;
}

.in-game__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  max-width: 632px;
  width: 100%;
  margin: 0 auto;
}

.in-game__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 48px;
}

.in-game__board {
  grid-column: 1 / span 2;
  display: grid;
  place-items: center;
  position: relative;
}

.in-game__timer,
.in-game__game-card {
  position: absolute;
  bottom: 0px;
  translate: 0 65%;
}

@media (min-width: 768px) {
  .in-game__wrapper {
    row-gap: 32px;
  }
  .in-game__main {
    row-gap: 32px;
    column-gap: 38px;
  }

  .in-game__logo {
    width: 52px;
  }
  .in-game__menu-btn {
    justify-self: self-start;
  }
  .in-game__restart-btn {
    justify-self: self-end;
  }
}

@media (min-width: 1024px) {
  .in-game__wrapper {
    row-gap: 48px;
  }
  .in-game__main {
    column-gap: 58px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    place-items: center;
  }
  .in-game__score-card-red {
    grid-column: 1 / span 1;
    justify-self: end;
  }
  .in-game__board {
    grid-row-start: 1;
    grid-column: 2 / span 1;
  }
  .in-game__score-card-yellow {
    grid-column: 3 / span 1;
    justify-self: start;
  }
}
