.marker {
  width: 38px;
  height: 36px;
  background-repeat: no-repeat;
}

.marker.red {
  background-image: url("../../../assets/images/marker-red.svg");
}
.marker.yellow {
  background-image: url("../../../assets/images/marker-yellow.svg");
}
