.counter {
  width: 41px;
  height: 46px;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
}

.counter.red {
  background-image: url("../../../assets/images/counter-red-small.svg");
}
.counter.yellow {
  background-image: url("../../../assets/images/counter-yellow-small.svg");
}

.counter__highlight {
  width: 20px;
  aspect-ratio: 1 / 1;
  border: 6px solid var(--white);
  border-radius: 100%;
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .counter {
    width: 70px;
    height: 75px;
    background-repeat: no-repeat;
  }
  .counter.red {
    background-image: url("../../../assets//images/counter-red-large.svg");
  }

  .counter.yellow {
    background-image: url("../../../assets//images/counter-yellow-large.svg");
  }

  .counter__highlight {
    width: 34px;
  }
}
