.base-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0 0 0 / 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 20px;
}

.base-modal__modal {
  position: relative;
  box-shadow: 0px 10px 0px var(--black);
  border-radius: 40px;
  padding: 20px;
  border: 3px solid var(--black);
  outline: none;
  max-width: 480px;
  min-height: 437px;

  flex: 1;
  display: grid;
  align-items: center;
}

.base-modal__modal.white {
  background: var(--white);
  color: var(--black);
}

.base-modal__modal.purple {
  background: var(--purple-400);
  color: var(--white);
}

.base-modal__dialog {
  outline: none;
}

.base-modal__modal * h2 {
  font-size: var(--font-size-heading-l);
  line-height: var(--line-height-heading-l);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.base-modal__modal * p,
.base-modal__modal * li {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: color-mix(in srgb, var(--black), transparent 33%);
}

.base-modal__modal * li {
  counter-increment: decimal-no-dot;
  position: relative;
  padding-left: 28px;
}

.base-modal__modal * li::before {
  content: counter(decimal-no-dot);
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 700;
  font-size: var(--font-size-heading-xs);
  line-height: var(--line-height-heading-xs);
  color: var(--black);
}

.base-modal__modal * ol {
  list-style: none;
  counter-reset: decimal-no-dot;
  padding-left: 0;
  display: grid;
  gap: 12px;
  margin-bottom: 32px;
}

.base-modal__modal * h3 {
  font-weight: 700;
  font-size: var(--font-size-heading-s);
  line-height: var(--line-height-heading-s);
  color: var(--purple-400);
  text-transform: uppercase;

  margin: 28px 0 16px 0;
}

@media (min-width: 768px) {
  .base-modal__modal {
    min-height: 491px;
    padding: 40px;
  }
}
