@import "tailwindcss/preflight.css";

@font-face {
  font-family: "Space Grotesk Variable";
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --black: #000000;
  --purple-500: #5c2dd5;
  --purple-400: #7945ff;
  --pink: #fd6687;
  --yellow: #ffce67;
  --white: #ffffff;

  --font-size-heading-l: 3.5rem;
  --line-height-heading-l: 4.375rem;

  --font-size-heading-s: 1.25rem;
  --line-height-heading-s: 1.625rem;

  --font-size-heading-xs: 1rem;
  --line-height-heading-xs: 1.25rem;
}

body {
  font-family: "Space Grotesk Variable", sans-serif;
  background: var(--purple-500);
  color: var(--white);
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.heading-l {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.375rem;
}

.heading-xs {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
}
