@import "tailwindcss/preflight.css";

@font-face {
  font-family: "Space Grotesk Variable";
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --black: #000000;
  --purple-500: #5c2dd5;
  --purple-400: #7945ff;
  --red: #fd6687;
  --yellow: #ffce67;
  --white: #ffffff;

  --focus: #2fa6ff;

  --font-size-heading-l: 3.5rem;
  --line-height-heading-l: 4.375rem;

  --font-size-heading-m: 1.5rem;
  --line-height-heading-m: 1.9375rem;

  --font-size-heading-s: 1.25rem;
  --line-height-heading-s: 1.625rem;

  --font-size-heading-xs: 1rem;
  --line-height-heading-xs: 1.25rem;
}

body {
  font-family: "Space Grotesk Variable", sans-serif;
  background: var(--purple-400);
  color: var(--white);
}
